@charset "UTF-8";
/*Variables*/
/* sélectionne l'élément racine du document*/
/* Pour un document HTML c'est <html> */
/* Thème clair (par défaut) */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --font-family: "jost", sans-serif;
  --c-primary: rgb(24, 3, 38);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: calc(100% / 3 - 5rem);
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
}

h3 {
  color: var(--c-primary);
  margin-top: auto;
}

p {
  color: var(--text-color);
}


.flex-row{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

/****** ZOOM ********************/

.box-hover{
  width: 100px;
  height: 100px;
  background: rgb(224, 147, 147);
  transition: transform 0.3s all 0.3s ease;
}

.box-hover:hover {
  background: rgb(255, 204, 255);
}


/******* BOUNCE ********/

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-70px); }
  100% { transform: translateY(0); }
}

.ball {
  width: 50px;
  height: 50px;
  margin: 80px auto 0 auto;
  background: rgb(109, 228, 144);
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

/******* Beat ********/

@keyframes beat {
  0%   { transform: scale(1); }
  14%  { transform: scale(1.3); }
  28%  { transform: scale(1); }
  42% { transform: scale(1.3); }
  70% { transform: scale(1); }
}

.heart {
  width: 30px;
  height: 30px;
  animation: beat 2s infinite ease-in-out;
}

/******* Rotate ********/

@keyframes rotate {
  0%   { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}

.loader {
  width: 70px;
  height: 70px;
  margin: 30px auto;
  animation: rotate 1000ms infinite linear;
}

/******* Fall ********/

@keyframes fall {
  to {
    transform: translateY(600px);
    opacity: 0;
  }
}

.js-card6{
  position: relative;
  background: #001;
  overflow: hidden;
}

.star {
  position: absolute;
  top: -30px;
  font-size: 20px;
  animation: fall 3s linear forwards;
}






/*
Comprendre les propriétés importantes d’animation

Les principales propriétés sont :

Propriété	Rôle
animation-name	Nom du keyframe
animation-duration	Durée
animation-timing-function	Courbe de vitesse (ease, linear, etc.)
animation-delay	Délai avant démarrage
animation-iteration-count	Nombre de répétitions (ou infinite)
animation-direction	normal, reverse, alternate…
animation-fill-mode	état avant/après animation
*/

/* ----------------------------------------------
 * Generated by Animista on 2025-11-23 17:7:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */

@keyframes slide-right {
  0% {
    width: 0;
  }
  100% {

    width: 100%;
  }
}


.anim {
  display: block;
  position: relative;
  width: 100px;
  padding: 1em;
  border: 1px solid black;
  color: black;
  z-index: 1;
}

.anim:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: red;
  width: 0;

}

.anim:hover {
    color: white;

}

.anim:hover:before{
    background: black;
    animation: slide-right .5s forwards;
    z-index: -1;
}