:root {
  --wrapper: 1080px;
  --background-color: #01022B;
  --text-color: #ffffff;
  --font-size: 1.525rem;
  --font-family: "jost", sans-serif;
  --color-primary: #01022B;
  --color-secondary: #F5FF00;
  --color-third: #abadff;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
}

p{
    margin: 10px 0;
}
section{
    margin: 6rem 0;
}

.container {
    max-width: var(--wrapper);
    margin: 0 auto;
    padding: 0 20px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2 {
    color: var(--text-color);
    font-size: 3rem;
}

h2 span{
    display: block;
    color: var(--color-secondary);
    font-size: 1.2rem;
}


