/*Variables*/

/*
  --color-primary: #53CEDA;
  --color-secondary: #e666cc;
  --color-third: #fa97a1;
  --gradient-primary: linear-gradient(128.87deg, #53CEDA 14.05%, #9780E5 89.3%);
  --gradient-secondary: linear-gradient(128.87deg, #e666cc 14.05%, #fa97a1 89.3%);
  --gradient-third: linear-gradient(128.87deg, #fa97a1 14.05%, #9780e5 89.3%);
*/
