/*Variables*/
/* sélectionne l'élément racine du document*/
/* Pour un document HTML c'est <html> */
/* Thème clair (par défaut) */
:root {
  --wrapper: 1200px;
  --marge: calc((100% - var(--wrapper)) / 2);
  --padding: 20px;
  --background-color: #ffffff;
  --text-color: #000000;
  --font-size: 1.525rem;
  --font-family: "jost", sans-serif;
  --color-primary: #53CEDA;
  --color-secondary: #e666cc;
  --color-third: #fa97a1;
  --gradient-primary: linear-gradient(128.87deg, #53CEDA 14.05%, #9780E5 89.3%);
  --gradient-secondary: linear-gradient(128.87deg, #e666cc 14.05%, #fa97a1 89.3%);
  --gradient-third: linear-gradient(128.87deg, #fa97a1 14.05%, #9780e5 89.3%);
}

/* Thème sombre (appliqué si le système est en dark mode) */
.is-dark {
  --background-color: #1e1e1e;
  --text-color: #f1f1f1;
}

html {
  margin: 0;
  padding: 0;
  font: normal 10px var(--font-family), Arial, Verdana, Helvetica, sans-serif;
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
  margin: 0;
}

section {
  margin: 3rem 0;
  padding: 4em 0;
  background: var(--background-color);
}

.container {
  max-width: var(--wrapper);
  margin: 0 auto;
  padding: 0 var(--padding);
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.title1 {
  margin: 2rem 0 3rem 0;
  font-size: clamp(2rem, 4vw, 3.2rem);
  color: var(--text-color);
  text-transform: uppercase;
}

.title2 {
  font-size: clamp(1.8rem, 3vw, 2.8rem);
  text-align: center;
  font-size: 2.8rem;
  color: var(--text-color);
}

.card {
  flex: 1;
  margin: 1rem;
  padding: 2em;
  background-color: var(--background-color);
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.03922);
  display: flex;
  flex-direction: column;
  align-self: stretch;
  border-width: 2px;
  border-style: solid;
}

.card__title {
  margin: 0.25rem 0;
  font-size: clamp(1.4rem, 2vw, 2rem);
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  font-size: var(--font-size);
  margin: 10px 0;
  line-height: 1.2;
}

svg {
  width: 30px;
  height: 30px;
  margin-bottom: 0.4rem;
}

/* CARD 1 */
.card--1 {
  border-color: var(--color-primary);
}

.card--1 .card__title {
  background: var(--gradient-primary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card--1 path {
  fill: var(--color-primary);
}

/* CARD 2 */
.card--2 {
  border-color: var(--color-secondary);
}

.card--2 .card__title {
  background: var(--gradient-secondary);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card--2 path {
  fill: var(--color-secondary);
}

/* CARD 3*/
.card--3 {
  border-color: var(--color-third);
}

.card--3 .card__title {
  background: var(--gradient-third);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card--3 path {
  fill: var(--color-third);
}

.btn-primary{
  display: block;
  background: var(--gradient-secondary);
  color: var(--text-color);
  margin: 4rem auto;
  border: 0;
  padding: 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 2rem;
}

@media (max-width: 768px) {
  :root {
    --wrapper: 100%;
    --marge: 20px;
    --font-size: 1.3rem;
  }
  .flex-row {
    flex-direction: column;
  }
}

