:root {
  --wrapper: 1200px;
  --marge: calc((100% - var(--wrapper)) / 2);
  --padding: 20px;
  --background-color: #ffffff;
  --text-color: #333;
  --color-primary: #FFDA03;
  --font-size: 1.525rem;
  --font-family: "karla", sans-serif;
  --box-shadow: 0 0 6px rgba(0,0,0, .4);
}

html {
  margin: 0;
  padding: 0;
  font: normal 10px var(--font-family), Arial, Verdana, Helvetica, sans-serif;
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
  padding: 0;  
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.header{
    background: var(--color-primary);
    padding: .5em 0;
}

.container{
    max-width: var(--wrapper);
    margin: 0 auto;
}

.flex-row{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    font-size: 2rem;
}

nav li:first-child{
    padding-right: 2em;
}

nav li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
    transition: all .5s ease;
}


.logo{
    position: relative;
    width: 96px;
    height: 63px;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.product{
    margin: 6rem 0;
}

.slick-prev {
    left: 5px !important;
    z-index: 2;
}
.slick-next {
    right: 5px !important; 
    z-index: 2;
}

.product-slider{
    width: 50%;
}

.product-slider img{
    max-width: 100%;

}
