@font-face {
        font-family: FibraOne-Bold;
        src: url("./fonts/FibraOne-Bold.otf");
}

@font-face {
        font-family: FibraOne-Heavy;
        src: url("./fonts/FibraOne-Heavy.otf");
}

@font-face {
        font-family: Noyh-Regular;
        src: url("./fonts/Noyh-Regular.otf");
}

:root {
  --wrapper: 1200px;
  --marge: calc((100% - var(--wrapper)) / 2);
  --padding: 20px;
  --background-color: #ffffff;
  --text-color: #333;
  --color-primary: #FFDA03;
  --font-size: 1.525rem;
  --font-family:  Noyh-Regular, sans-serif;
  --font-title:  FibraOne-Heavy, sans-serif;
  --box-shadow: 0 0 6px rgba(0,0,0, .4);
}

html {
  margin: 0;
  padding: 0;
  font: normal 10px var(--font-family), Arial, Verdana, Helvetica, sans-serif;
  color: var(--text-color);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  width: 100%;
}

body {
    margin: 0;
  padding: 0;  
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.header{
    background: var(--color-primary);
    padding: .5em 0;
}

.container{
    max-width: var(--wrapper);
    margin: 0 auto;
    padding: 0 var(--padding);
}

.flex-row{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    font-size: 2rem;
}

nav li:first-child{
    padding-right: 2em;
}

nav li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: red;
    transition: all .5s ease;
}


.logo{
    position: relative;
    width: 96px;
    height: 63px;
}

.logo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

img{
    max-width: 100%;
}

.user{
    position: relative;
    width: 40px;
    height: 40px;
}

.user img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}

h2{
  font-size: 6rem;
  font-family: var(--font-title);
  margin: 1rem 0 1.6rem 0;
}
.subtitle{
  font-size: 2rem;
  margin: 1rem 0 .5rem 0;
}

section {
  margin: 3rem 0;
}


/********************************
Slider produit
********************************/
.product{
    margin: 6rem 0;
    align-items: start;
}

.product-slider,
.product-content{
    width: 50%; 
}
.product-content{
  margin-left: 3rem;
}
.content-info{
  font-size: 1.5rem;
  font-weight: 100;
  font-family: system-ui;
}
.content-price{
  font-size: 4.5rem;
}
.product-litre{
    justify-content: flex-start;
}
.litre-1{
  padding: 0.8em 2em;
  background: #e6e4e4;
  width: 70px;
  font-size: 1.6rem;
  text-align: center;
  margin: 0 .5rem;
}
.slick-prev {
    left: 5px !important;
    z-index: 2;
}
.slick-next {
    right: 5px !important; 
    z-index: 2;
}

/********************************
Nos produits
********************************/
.card-wrapper{
  justify-content: center;
}

.card-product{
  flex: 0 0 33%;
  margin: 0 1rem;
  text-align: center;
}

/********************************
Accordion produit
********************************/

.accordion {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.accordion-item {
  margin-bottom: 2.5rem;
}

.accordion-header {
  position: relative;
  width: 100%;
  padding: 2em;
  background: var(--color-primary);
  border: none;
  text-align: left;
  font-size: 1.8rem;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion-header:after{
  position: absolute;
  content: "";
  right: 2rem;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000;
  transition: all 0.3s ease;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5em;
  background: #fafafa;
  transition: all 0.3s ease;
}

.accordion-content p {
  margin: 1.5rem 0;
}

.accordion-item.active .accordion-content {
  max-height: 100%;
  padding: 0 2em;
}

.accordion-item.active .accordion-header:after {
  transform: rotate(180deg);
}
